<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title><%= course.title %></title>
</head>
<body class="bg-primary text-secondary font-cartoon dotted-bg">
    <header class="fixed z-10 w-full shadow bg-primary comic-border">
        <div class="container flex items-center justify-between px-4 py-6 mx-auto">
            <h1 class="text-4xl font-bold text-secondary">
                <a href="/">
                    Courses
                </a>
            </h1>
            <div>
                <% if (user) { %>
                    <a href="/profile" class="text-secondary">
                        <img src="/path/to/profile-icon.png" alt="Profile" class="w-8 h-8 rounded-full">
                    </a>
                <% } else { %>
                    <a href="/login" class="mr-4 text-secondary">Login</a>
                    <a href="/register" class="text-secondary">Register</a>
                <% } %>
            </div>
        </div>
    </header>
    <main class="container px-4 py-8 pt-32 mx-auto">
        <div class="p-6 rounded-lg shadow-lg bg-primary comic-border min-h-2/3-screen">
            <h2 class="mb-2 text-2xl font-bold text-black"><%= course.title %></h2>
            <p class="text-secondary"><%= course.description %></p>
            <% if (user) { %>
                <a href="/courses/<%= course.id %>/edit" class="inline-block p-2 mt-4 text-white rounded bg-accent">Edit Course</a>
            <% } %>
        </div>
    </main>
    <footer class="mt-8 shadow bg-primary comic-border">
        <div class="container px-4 py-4 mx-auto text-center">
            <p class="text-secondary">&copy; 2025 Courses Page. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>