
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>Login</title>
</head>
<body class="bg-primary text-secondary font-cartoon dotted-bg">
    <header class="fixed z-10 w-full shadow bg-primary comic-border">
        <div class="container px-4 py-6 mx-auto">
            <h1 class="text-4xl font-bold text-secondary">
                <a href="/">
                    Courses
                </a>
            </h1>
        </div>
    </header>
    <main class="container px-4 py-8 pt-32 mx-auto">
        <div class="p-6 rounded-lg shadow-lg bg-primary comic-border">
            <h2 class="mb-2 text-2xl font-bold text-black">Login</h2>
            
            <% if (error) { %>
                <div class="px-4 py-3 mb-4 text-red-700 bg-red-100 border border-red-400 rounded">
                    <%= error %>
                </div>
            <% } %>
            
            <form action="/login" method="POST">
                <div class="mb-4">
                    <label for="username" class="block text-black">Username</label>
                    <input type="text" id="username" name="username" 
                           class="w-full p-2 border rounded"
                           value="<%= locals.values && values.username || '' %>" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-black">Password</label>
                    <input type="password" id="password" name="password" class="w-full p-2 border rounded" required>
                </div>
                <button type="submit" class="p-2 text-white rounded bg-accent">Login</button>
            </form>
            <div class="mt-4 text-center">
                <p>Don't have an account? <a href="/register" class="text-accent">Register</a></p>
            </div>
        </div>
    </main>
</body>
</html>