<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>Login</title>
</head>
<body class="bg-primary text-secondary font-cartoon dotted-bg">
    <header class="bg-primary shadow comic-border fixed w-full z-10">
        <div class="container mx-auto py-6 px-4">
            <h1 class="text-4xl font-bold text-secondary">
                <a href="/">
                    Courses
                </a>
            </h1>
        </div>
    </header>
    <main class="container mx-auto py-8 px-4 pt-32">
        <div class="bg-primary p-6 rounded-lg shadow-lg comic-border">
            <h2 class="text-2xl font-bold mb-2 text-black">Login</h2>
            <form action="/login" method="POST">
                <div class="mb-4">
                    <label for="username" class="block text-black">Username</label>
                    <input type="text" id="username" name="username" class="w-full p-2 border rounded">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-black">Password</label>
                    <input type="password" id="password" name="password" class="w-full p-2 border rounded">
                </div>
                <button type="submit" class="bg-accent text-white p-2 rounded">Login</button>
            </form>
        </div>
    </main>
</body>
</html>