<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>Profile</title>
</head>
<body class="bg-primary text-secondary font-cartoon dotted-bg">
    <header class="fixed z-10 w-full shadow bg-primary comic-border">
        <div class="container px-4 py-6 mx-auto">
            <h1 class="text-4xl font-bold text-secondary">
                <a href="/">
                    Courses
                </a>
            </h1>
        </div>
    </header>
    <main class="container px-4 py-8 pt-32 mx-auto">
        <div class="p-6 rounded-lg shadow-lg bg-primary comic-border">
            <h2 class="mb-2 text-2xl font-bold text-black">Profile</h2>
            <p class="text-secondary">Username: <%= user.username %></p>
            <form action="/logout" method="POST">
                <button type="submit" class="p-2 mt-4 text-white rounded bg-accent">Logout</button>
            </form>
        </div>
    </main>
</body>
</html>